.form-box{
  margin-top: 20px;
}

.form-box label input{
	display: none;
}
.form-box label {
	display:inline-block;
	cursor: pointer;
	padding-left: 35px;
	position: relative;
}
.form-box label .circle{
	height: 20px;
	width: 20px;
  border: 2px solid #474166;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left:0;
	top:5px;
	transition: border-color .5s ease;
}
.form-box label .circle::before{
	content: '';
	height: 16px;
	width: 16px;
	background: #D03A3B;
	position: absolute;
	left:-7px;
	top:-7px;
	border-radius: 50%;
	box-sizing: border-box;
	margin-left:7px;
	margin-top:7px;
	transition: transform .5s ease;
	transform: scale(0);
}
.form-box label span{
	font-size: 18px;
  line-height: 26px;
  font-weight: normal;
	color: #FFFFFF;
	display: inline-block;
	text-transform: uppercase;
	transition:color .5s ease;
  font-family: "Noto Sans KR", sans-serif;
}
.form-box label input:checked + .circle{
	border-color: #474166;
}
.form-box label input:checked + .circle::before{
	transform: scale(1);
}
.form-box label input:checked + .circle + span{
	color:#FFFFFF;
}
.right-radio{
  margin-left: 27px;
}




/* Owl Carousel  */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #A5250A !important;
  border-radius: 15px !important;
  width: 30px !important;
  transition: 0.5s ease !important;
}
/* Owl Carousel  */


.carousel-indicators [data-bs-target]{
	background-color: black !important;
	width: 10px;
	transition: 0.5s ease !important;
	height: 5px;
	border-radius: 5px;
  }
  .carousel-indicators .active{
	background-color: #A5250A !important;
	width: 30px;
	transition: 0.5s ease !important;
	height: 5px;
	border-radius: 5px;
  }
